<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--  Master Server BuildMaster Root Path   -->
    <add key="MasterBasePath" value="C:\BuildMaster"/>
    <!--  Slave Server BuildMaster Root Path on the Network  -->
    <add key="SlaveBasePath" value="\\1904LADA450\BuildMasterBackups"/>
    <!-- list of BuildMaster working folder to align , mainly the should be Extensins and Artifacts but we can add -->
    <add key="FoldersToMonitors" value="Extensions,Artifacts"/>
  </appSettings>
</configuration>